<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/caresult.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/07f7c184df.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/07f7c184df.js" crossorigin="anonymous"></script>
    <title>CalorieDiary</title>
</head>
<body>
    <nav class="navbar">
        
        <div class="navbar__logo">
            <i class="fa-solid fa-c"></i><i class="fa-solid fa-d"></i>
            <a href="index.html">CalorieDiary</a>
        </div>
        
        <div class="navbar__menu">
            <li><a href="index.html">홈</a></li>
            <li><a href="profile.html">프로필</a></li>
            <li><a href="camera.html">칼로리 카메라</a></li>
            <li><a href="caresult.html">식단 추천</a></li>
            <li><a href="board.html">게시판</a></li>
            <li><a href="fooddb.html">음식 데이터</a></li>
            <li><a href="login.html">로그아웃</a></li>
        </div>
        
        <ul class="navbar__icons"></ul>

        <a href="#" class="navbar__toggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a> 
    </nav>


    <script src="js/main.js" defer></script>
</body>
</html> 