<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/login.css">
<title> Calorie Diary </title>
</head>
<body>
  <body>
    <div id="login-form">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Calorie Diary를 시작하기 위해<br>로그인을 해주세요.</p>
          </div>
        </div>
        <form action="/member/login" method="post" class="login-page">
          <input type="text" name="memberEmail" placeholder="ID(Email)" />
          <input type="password" name="memberPassword" placeholder="password"/>
          <button class="loginBtn" input type="submit">login</button >
          <p class="message">계정이 없으신가요? <a href="/member/save">새 계정 만들기</a></p>
        </form>
      </div>
    </div>
    <script src="js/login.js"></script>
</body>
</body>
</html>
